{% extends 'main/base.html' %}
{% block title %}
    {{ service.name }}
{% endblock %}
{% block content %}
    <div class="service-detail">
        <div class="service-header">
            <h1>{{service.name}}</h1>
            <div class="service-meta">
                <span class="price">{{service.price_hour}}€/hour</span>
                <span class="field">{{service.field}}</span>
            </div>
            <div class="provider">
                <h5>Provided by <a href="/company/{{service.company.user}}">{{service.company.user}}</a></h5>
            </div>
        </div>
        
        <div class="service-description">
            <h3>About this service</h3>
            <p>{{service.description}}</p>
        </div>

        {% if request.user.is_customer %}
            <div class="service-actions">
                <a href="/services/{{service.id}}/request_service/" class="button button-primary">Request Service</a>
            </div>
        {% endif %}
    </div>
{% endblock %}